$color-body: rgba(7, 70, 165, 0.0);

* {
    box-sizing: border-box;
}

html, body {
    -webkit-app-region: drag;
    margin: 0;
    height: 100%;
}

body {
    width: 100%;
    background-color: $color-body;
}




#root {
 width: 100%;
}

.launcher {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    .search-input,.result-list  {
        order: 0;
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: stretch;
        margin: 0;
    }

    .search-input {
        width: 100%;
    }

    .result-list {
        list-style-type: none;
        padding: 4px;
        background-color: rgba(255, 182, 47, 0.288);
    }


}


input {
    -webkit-app-region: no-drag;
}



