.launcher {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

/* Input Component */
.launcher input.search-input {
    font-size: 33px;
    background: transparent;
    outline: none;
    border: none;
    padding: 30px 18px;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

/* Result List Warraper */
.launcher ul.result-list {
    background: transparent;
}

/* Result List Items */
.launcher ul.result-list li {
    color: white;
    font-size: 30px;
    padding: 15px;
}

.launcher ul.result-list li.active {
    background-color: #ff0000;
}